  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,700;0,800;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.titleh5{
  @apply text-xl  text-center mt-5 font-semibold capitalize leading-6 ml-3 mr-2 text-secandry-light
}
.titleh2{
  @apply font-bold text-3xl text-center lg:text-4xl text-gray-800 ml-3 mr-2 capitalize
}
.titleha{
  @apply font-bold text-3xl text-start text-gray-800 capitalize  hover:text-secandry-light
}
.psars{
  @apply text-lg font-semibold  capitalize leading-10 text-gray-600 pt-6 ml-3 mr-2
}
.btn{
  @apply rounded-full bg-secandry-light text-lg font-semibold capitalize
  leading-6   text-cyan-50
    hover:uppercase
}
.btn1{
  @apply m-4 mt-1 h-16 w-full rounded-full bg-secandry-light font-semibold text-red-50 drop-shadow-2xl
}
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}
.dot:focus {
  outline: none;
}
.dot.active {
  background: #000;
}
.wrapper {
    display: flex;
    justify-content: center;
  }
.scene {
    perspective: 1000px;
    position: relative;
  }
.scene .carousel.keen-slider {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
  }
.carousel__cell {
    position: absolute;
    width: 240px;
    height: 650px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
